/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    padding-top: 5rem;
    padding-left: 2rem;
}

body > h1 {
    text-align: center;
}


/* Makes all divs inside align from left to right */
.organised-list {
    display: flex;
    flex-wrap: wrap;
}


.organised-list > div {
    flex: 0 1 10rem
}

#tooltip {
    position: absolute;
    background-color: whitesmoke;
    border: solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    min-width: 10rem;
}

#tooltip :first-child {
    margin-top: 0 !important;
    text-align: center;
}

#tooltip hr {
    margin: 0 !important;
    color: rgba(0, 0, 0, 0.3)
}

#tooltip :last-child {
    margin-bottom: 0 !important;
}

img {
    max-width: 100%;
}

.scroll-bar {
    overflow-y: scroll;
}

#life-expectency-and-alcohol-consumption > div > div {
    /* Make the section move to left of SVG */
    max-height: 500px;
    width: 15rem;
    flex-direction: column;
    float: left;

    /* Add some styling to it */
    background-color: whitesmoke;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border: 0.15rem solid lightgray;
    border-radius: 1rem;
}

/*
.grid line{
  stroke: rgba(0, 0, 0, 0.2);
}

.grid path{
  stroke: rgba(0, 0, 0, 0.2);
}
*/

.tick line {
    stroke: rgba(0, 0, 0, 0.4)
}

/* .grid text{
  fill: rgba(0, 0, 0, 0.2);
} */
