body
{
    max-width: 100rem;
    margin: auto;
}

/* Makes all divs inside align from left to right */
.organised-list
{
    display: flex;
    flex-wrap: wrap;
}


.organised-list > div
{
    flex: 0 1 10rem
}

#tooltip
{
    position: absolute;
    background-color: whitesmoke;
    border: solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    min-width: 10rem;
}

#tooltip :first-child
{
    margin-top: 0 !important;
    text-align: center;
}

#tooltip hr
{
    margin: 0 !important;
    color: rgba(0, 0, 0, 0.3)
}

#tooltip :last-child
{
    margin-bottom: 0 !important;
}

img 
{
    max-width: 100%;
}

#life-expectency-and-alcohol-consumption {
    display: flex;
}

#life-expectency-and-alcohol-consumption section {
    /* Add scroll bar */
    max-height: 500px;
    overflow-y: scroll;

    /* Make the section move to left of SVG */
    width: 15rem;
    flex-direction: column;
    float: left;

    /* Add some styling to it */
    background-color: whitesmoke;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border: 0.15rem solid lightgray;
    border-radius: 1rem;
}
